<h1>{{ roster.roster_name }}</h1>
{% if roster.player_set.all %}
    <ul>
    {% for player in roster.player_set.all %}
        <li><a href="{% url 'tagger:player_details' player.id %}">{{ player.player_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<br><br>
<a href="{% url 'tagger:add_player' roster.id %}">{{ 'Add a new player' }}</a><br>
<a href="{% url 'tagger:home' %}">{{ 'Return to homepage' }}</a>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tagger/homepage.css' %}">
