html,body {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

#root {
  height: 100%;
}

header {
  border-bottom: 1px solid black;
  display: flex;
}

.fullheight {
  height: 100%;
}

header * {
  flex-shrink: 0;
  width: 50%;
}

.Content {
  display: flex;
  height: 100%;
}

.lineup {
  width: 25%;
  float: left;
}

.tagging {
  width: 50%;
  height: 100%;
  float: left;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
  background-image: url('field\ image.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

.stats {
  width: 25%;
  float: left;
}

#tagUpper {
  height: 85%;
}

#tagLower {
  height: 15%;
}